body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    }
    
.parallax_day {
    background-image: url('https://miro.medium.com/v2/resize:fit:2560/1*TMzXkbGunchFIZ3lb6vc0Q.png');
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    }
    
.content {
    background-color: black;
    color: white;
    padding: 50px 0;
    text-align: center;
    }

.parallax_night {
    background-image: url('https://media.semprefamilia.com.br/semprefamilia/2018/04/bigstock-little-prince-and-the-fox-127327796-e533f25c.png');
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    }