.balao {
    width: 200px;
    height: 200px;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
    transition: width 0.3s, height 0.3s, background-color 0.3s;
}
    
.balao:hover {
    width: 195px;
    height: 195px;
}
    
.balao:hover, .balao:focus {
    outline: none;
}